Indexing in Pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Different_Types_of_Files\world_population.csv")
df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [6]:
# Setting index to a country
df = pd.read_csv(r"C:\Different_Types_of_Files\world_population.csv", index_col = 'Country/Territory')
df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [10]:
# reversing index 

df.reset_index(inplace = True)

ValueError: cannot insert level_0, already exists

In [14]:
df

,level_0,index,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,0,0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,1,1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,2,2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,3,3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,4,4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,230,230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,231,231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,232,232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,233,233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [13]:
df.set_index('Country/Territory')

,level_0,index,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,1,1,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,2,2,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,3,3,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,4,4,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,229,229,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,230,230,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,231,231,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,232,232,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,233,233,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [19]:
df = df.drop('level_0', axis = 1)

In [20]:
df

,index,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [21]:
df = df.drop('index' , axis = 1)

In [22]:
df

,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [23]:
df.set_index('Country/Territory', inplace=True)
df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [24]:
df.loc['Albania']

Rank                               138
CCA3                               ALB
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: Albania, dtype: object

In [25]:
df.iloc[1]

Rank                               138
CCA3                               ALB
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: Albania, dtype: object

In [26]:
df.reset_index(inplace = True)

In [27]:
df

,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [30]:
df.set_index(['Continent','Country/Territory' ] ,inplace= True)

In [31]:
df

                             Rank CCA3           Capital  2022 Population  \
Continent Country/Territory
Asia      Afghanistan          36  AFG             Kabul         41128771
Europe    Albania             138  ALB            Tirana          2842321
Africa    Algeria              34  DZA           Algiers         44903225
Oceania   American Samoa      213  ASM         Pago Pago            44273
Europe    Andorra             203  AND  Andorra la Vella            79824
...                           ...  ...               ...              ...
Oceania   Wallis and Futuna   226  WLF          Mata-Utu            11572
Africa    Western Sahara      172  ESH          El Aaiún           575986
Asia      Yemen                46  YEM             Sanaa         33696614
Africa    Zambia               63  ZMB            Lusaka         20017675
          Zimbabwe             74  ZWE            Harare         16320537

                             2020 Population  2015 Population  \
Continent Country/Territory
Asia      Afghanistan               38972230         33753499
Europe    Albania                    2866849          2882481
Africa    Algeria                   43451666         39543154
Oceania   American Samoa               46189            51368
Europe    Andorra                      77700            71746
...                                      ...              ...
Oceania   Wallis and Futuna            11655            12182
Africa    Western Sahara              556048           491824
Asia      Yemen                     32284046         28516545
Africa    Zambia                    18927715         16248230
          Zimbabwe                  15669666         14154937

                             2010 Population  2000 Population  \
Continent Country/Territory
Asia      Afghanistan               28189672         19542982
Europe    Albania                    2913399          3182021
Africa    Algeria                   35856344         30774621
Oceania   American Samoa               54849            58230
Europe    Andorra                      71519            66097
...                                      ...              ...
Oceania   Wallis and Futuna            13142            14723
Africa    Western Sahara              413296           270375
Asia      Yemen                     24743946         18628700
Africa    Zambia                    13792086          9891136
          Zimbabwe                  12839771         11834676

                             1990 Population  1980 Population  \
Continent Country/Territory
Asia      Afghanistan               10694796         12486631
Europe    Albania                    3295066          2941651
Africa    Algeria                   25518074         18739378
Oceania   American Samoa               47818            32886
Europe    Andorra                      53569            35611
...                                      ...              ...
Oceania   Wallis and Futuna            13454            11315
Africa    Western Sahara              178529           116775
Asia      Yemen                     13375121          9204938
Africa    Zambia                     7686401          5720438
          Zimbabwe                  10113893          7049926

                             1970 Population  Area (km²)  Density (per km²)  \
Continent Country/Territory
Asia      Afghanistan               10752971      652230            63.0587
Europe    Albania                    2324731       28748            98.8702
Africa    Algeria                   13795915     2381741            18.8531
Oceania   American Samoa               27075         199           222.4774
Europe    Andorra                      19860         468           170.5641
...                                      ...         ...                ...
Oceania   Wallis and Futuna             9377         142            81.4930
Africa    Western Sahara               76371      266000             2.1654
Asia      Yemen                      6843607      527968            63.8232
Africa    Zambia                     4281671      752612            26.5976
          Zimbabwe                   5202918      390757            41.7665

                             Growth Rate  World Population Percentage
Continent Country/Territory
Asia      Afghanistan             1.0257                         0.52
Europe    Albania                 0.9957                         0.04
Africa    Algeria                 1.0164                         0.56
Oceania   American Samoa          0.9831                         0.00
Europe    Andorra                 1.0100                         0.00
...                                  ...                          ...
Oceania   Wallis and Futuna       0.9953                         0.00
Africa    Western Sahara          1.0184                         0.01
Asia      Yemen                   1.0217                         0.42
Africa    Zambia                  1.0280                         0.25
          Zimbabwe                1.0204                         0.20

[234 rows x 15 columns]

In [32]:
df.sort_index()

                                 Rank CCA3      Capital  2022 Population  \
Continent     Country/Territory
Africa        Algeria              34  DZA      Algiers         44903225
              Angola               42  AGO       Luanda         35588987
              Benin                77  BEN   Porto-Novo         13352864
              Botswana            144  BWA     Gaborone          2630296
              Burkina Faso         58  BFA  Ouagadougou         22673762
...                               ...  ...          ...              ...
South America Paraguay            109  PRY     Asunción          6780744
              Peru                 44  PER         Lima         34049588
              Suriname            170  SUR   Paramaribo           618040
              Uruguay             133  URY   Montevideo          3422794
              Venezuela            51  VEN      Caracas         28301696

                                 2020 Population  2015 Population  \
Continent     Country/Territory
Africa        Algeria                   43451666         39543154
              Angola                    33428485         28127721
              Benin                     12643123         10932783
              Botswana                   2546402          2305171
              Burkina Faso              21522626         18718019
...                                          ...              ...
South America Paraguay                   6618695          6177950
              Peru                      33304756         30711863
              Suriname                    607065           575475
              Uruguay                    3429086          3402818
              Venezuela                 28490453         30529716

                                 2010 Population  2000 Population  \
Continent     Country/Territory
Africa        Algeria                   35856344         30774621
              Angola                    23364185         16394062
              Benin                      9445710          6998023
              Botswana                   2091664          1726985
              Burkina Faso              16116845         11882888
...                                          ...              ...
South America Paraguay                   5768613          5123819
              Peru                      29229572         26654439
              Suriname                    546080           478998
              Uruguay                    3352651          3292224
              Venezuela                 28715022         24427729

                                 1990 Population  1980 Population  \
Continent     Country/Territory
Africa        Algeria                   25518074         18739378
              Angola                    11828638          8330047
              Benin                      5133419          3833939
              Botswana                   1341474           938578
              Burkina Faso               9131361          6932967
...                                          ...              ...
South America Paraguay                   4059195          3078912
              Peru                      22109099         17492406
              Suriname                    412756           375112
              Uruguay                    3117012          2953750
              Venezuela                 19750579         15210443

                                 1970 Population  Area (km²)  \
Continent     Country/Territory
Africa        Algeria                   13795915     2381741
              Angola                     6029700     1246700
              Benin                      3023443      112622
              Botswana                    592244      582000
              Burkina Faso               5611666      272967
...                                          ...         ...
South America Paraguay                   2408787      406752
              Peru                      13562371     1285216
              Suriname                    379918      163820
              Uruguay                    2790265      181034
              Venezuela                 11355475      916445

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
Africa        Algeria                      18.8531       1.0164
              Angola                       28.5466       1.0315
              Benin                       118.5635       1.0274
              Botswana                      4.5194       1.0162
              Burkina Faso                 83.0641       1.0259
...                                            ...          ...
South America Paraguay                     16.6705       1.0115
              Peru                         26.4933       1.0099
              Suriname                      3.7727       1.0082
              Uruguay                      18.9069       0.9990
              Venezuela                    30.8820       1.0036

                                 World Population Percentage
Continent     Country/Territory
Africa        Algeria                                   0.56
              Angola                                    0.45
              Benin                                     0.17
              Botswana                                  0.03
              Burkina Faso                              0.28
...                                                      ...
South America Paraguay                                  0.09
              Peru                                      0.43
              Suriname                                  0.01
              Uruguay                                   0.04
              Venezuela                                 0.35

[234 rows x 15 columns]

In [33]:
df.sort_index(ascending = False)

                                 Rank CCA3      Capital  2022 Population  \
Continent     Country/Territory
South America Venezuela            51  VEN      Caracas         28301696
              Uruguay             133  URY   Montevideo          3422794
              Suriname            170  SUR   Paramaribo           618040
              Peru                 44  PER         Lima         34049588
              Paraguay            109  PRY     Asunción          6780744
...                               ...  ...          ...              ...
Africa        Burkina Faso         58  BFA  Ouagadougou         22673762
              Botswana            144  BWA     Gaborone          2630296
              Benin                77  BEN   Porto-Novo         13352864
              Angola               42  AGO       Luanda         35588987
              Algeria              34  DZA      Algiers         44903225

                                 2020 Population  2015 Population  \
Continent     Country/Territory
South America Venezuela                 28490453         30529716
              Uruguay                    3429086          3402818
              Suriname                    607065           575475
              Peru                      33304756         30711863
              Paraguay                   6618695          6177950
...                                          ...              ...
Africa        Burkina Faso              21522626         18718019
              Botswana                   2546402          2305171
              Benin                     12643123         10932783
              Angola                    33428485         28127721
              Algeria                   43451666         39543154

                                 2010 Population  2000 Population  \
Continent     Country/Territory
South America Venezuela                 28715022         24427729
              Uruguay                    3352651          3292224
              Suriname                    546080           478998
              Peru                      29229572         26654439
              Paraguay                   5768613          5123819
...                                          ...              ...
Africa        Burkina Faso              16116845         11882888
              Botswana                   2091664          1726985
              Benin                      9445710          6998023
              Angola                    23364185         16394062
              Algeria                   35856344         30774621

                                 1990 Population  1980 Population  \
Continent     Country/Territory
South America Venezuela                 19750579         15210443
              Uruguay                    3117012          2953750
              Suriname                    412756           375112
              Peru                      22109099         17492406
              Paraguay                   4059195          3078912
...                                          ...              ...
Africa        Burkina Faso               9131361          6932967
              Botswana                   1341474           938578
              Benin                      5133419          3833939
              Angola                    11828638          8330047
              Algeria                   25518074         18739378

                                 1970 Population  Area (km²)  \
Continent     Country/Territory
South America Venezuela                 11355475      916445
              Uruguay                    2790265      181034
              Suriname                    379918      163820
              Peru                      13562371     1285216
              Paraguay                   2408787      406752
...                                          ...         ...
Africa        Burkina Faso               5611666      272967
              Botswana                    592244      582000
              Benin                      3023443      112622
              Angola                     6029700     1246700
              Algeria                   13795915     2381741

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
South America Venezuela                    30.8820       1.0036
              Uruguay                      18.9069       0.9990
              Suriname                      3.7727       1.0082
              Peru                         26.4933       1.0099
              Paraguay                     16.6705       1.0115
...                                            ...          ...
Africa        Burkina Faso                 83.0641       1.0259
              Botswana                      4.5194       1.0162
              Benin                       118.5635       1.0274
              Angola                       28.5466       1.0315
              Algeria                      18.8531       1.0164

                                 World Population Percentage
Continent     Country/Territory
South America Venezuela                                 0.35
              Uruguay                                   0.04
              Suriname                                  0.01
              Peru                                      0.43
              Paraguay                                  0.09
...                                                      ...
Africa        Burkina Faso                              0.28
              Botswana                                  0.03
              Benin                                     0.17
              Angola                                    0.45
              Algeria                                   0.56

[234 rows x 15 columns]

In [36]:
df.loc['Africa','Angola']

Rank                                 42
CCA3                                AGO
Capital                          Luanda
2022 Population                35588987
2020 Population                33428485
2015 Population                28127721
2010 Population                23364185
2000 Population                16394062
1990 Population                11828638
1980 Population                 8330047
1970 Population                 6029700
Area (km²)                      1246700
Density (per km²)               28.5466
Growth Rate                      1.0315
World Population Percentage        0.45
Name: (Africa, Angola), dtype: object

In [38]:
df.iloc[1]

Rank                               138
CCA3                               ALB
Capital                         Tirana
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: (Europe, Albania), dtype: object

In [39]:
df

                             Rank CCA3           Capital  2022 Population  \
Continent Country/Territory
Asia      Afghanistan          36  AFG             Kabul         41128771
Europe    Albania             138  ALB            Tirana          2842321
Africa    Algeria              34  DZA           Algiers         44903225
Oceania   American Samoa      213  ASM         Pago Pago            44273
Europe    Andorra             203  AND  Andorra la Vella            79824
...                           ...  ...               ...              ...
Oceania   Wallis and Futuna   226  WLF          Mata-Utu            11572
Africa    Western Sahara      172  ESH          El Aaiún           575986
Asia      Yemen                46  YEM             Sanaa         33696614
Africa    Zambia               63  ZMB            Lusaka         20017675
          Zimbabwe             74  ZWE            Harare         16320537

                             2020 Population  2015 Population  \
Continent Country/Territory
Asia      Afghanistan               38972230         33753499
Europe    Albania                    2866849          2882481
Africa    Algeria                   43451666         39543154
Oceania   American Samoa               46189            51368
Europe    Andorra                      77700            71746
...                                      ...              ...
Oceania   Wallis and Futuna            11655            12182
Africa    Western Sahara              556048           491824
Asia      Yemen                     32284046         28516545
Africa    Zambia                    18927715         16248230
          Zimbabwe                  15669666         14154937

                             2010 Population  2000 Population  \
Continent Country/Territory
Asia      Afghanistan               28189672         19542982
Europe    Albania                    2913399          3182021
Africa    Algeria                   35856344         30774621
Oceania   American Samoa               54849            58230
Europe    Andorra                      71519            66097
...                                      ...              ...
Oceania   Wallis and Futuna            13142            14723
Africa    Western Sahara              413296           270375
Asia      Yemen                     24743946         18628700
Africa    Zambia                    13792086          9891136
          Zimbabwe                  12839771         11834676

                             1990 Population  1980 Population  \
Continent Country/Territory
Asia      Afghanistan               10694796         12486631
Europe    Albania                    3295066          2941651
Africa    Algeria                   25518074         18739378
Oceania   American Samoa               47818            32886
Europe    Andorra                      53569            35611
...                                      ...              ...
Oceania   Wallis and Futuna            13454            11315
Africa    Western Sahara              178529           116775
Asia      Yemen                     13375121          9204938
Africa    Zambia                     7686401          5720438
          Zimbabwe                  10113893          7049926

                             1970 Population  Area (km²)  Density (per km²)  \
Continent Country/Territory
Asia      Afghanistan               10752971      652230            63.0587
Europe    Albania                    2324731       28748            98.8702
Africa    Algeria                   13795915     2381741            18.8531
Oceania   American Samoa               27075         199           222.4774
Europe    Andorra                      19860         468           170.5641
...                                      ...         ...                ...
Oceania   Wallis and Futuna             9377         142            81.4930
Africa    Western Sahara               76371      266000             2.1654
Asia      Yemen                      6843607      527968            63.8232
Africa    Zambia                     4281671      752612            26.5976
          Zimbabwe                   5202918      390757            41.7665

                             Growth Rate  World Population Percentage
Continent Country/Territory
Asia      Afghanistan             1.0257                         0.52
Europe    Albania                 0.9957                         0.04
Africa    Algeria                 1.0164                         0.56
Oceania   American Samoa          0.9831                         0.00
Europe    Andorra                 1.0100                         0.00
...                                  ...                          ...
Oceania   Wallis and Futuna       0.9953                         0.00
Africa    Western Sahara          1.0184                         0.01
Asia      Yemen                   1.0217                         0.42
Africa    Zambia                  1.0280                         0.25
          Zimbabwe                1.0204                         0.20

[234 rows x 15 columns]

In [54]:
df =df.sort_index(ascending = True)

In [55]:
df

                                 Rank CCA3      Capital  2022 Population  \
Continent     Country/Territory
Africa        Algeria              34  DZA      Algiers         44903225
              Angola               42  AGO       Luanda         35588987
              Benin                77  BEN   Porto-Novo         13352864
              Botswana            144  BWA     Gaborone          2630296
              Burkina Faso         58  BFA  Ouagadougou         22673762
...                               ...  ...          ...              ...
South America Paraguay            109  PRY     Asunción          6780744
              Peru                 44  PER         Lima         34049588
              Suriname            170  SUR   Paramaribo           618040
              Uruguay             133  URY   Montevideo          3422794
              Venezuela            51  VEN      Caracas         28301696

                                 2020 Population  2015 Population  \
Continent     Country/Territory
Africa        Algeria                   43451666         39543154
              Angola                    33428485         28127721
              Benin                     12643123         10932783
              Botswana                   2546402          2305171
              Burkina Faso              21522626         18718019
...                                          ...              ...
South America Paraguay                   6618695          6177950
              Peru                      33304756         30711863
              Suriname                    607065           575475
              Uruguay                    3429086          3402818
              Venezuela                 28490453         30529716

                                 2010 Population  2000 Population  \
Continent     Country/Territory
Africa        Algeria                   35856344         30774621
              Angola                    23364185         16394062
              Benin                      9445710          6998023
              Botswana                   2091664          1726985
              Burkina Faso              16116845         11882888
...                                          ...              ...
South America Paraguay                   5768613          5123819
              Peru                      29229572         26654439
              Suriname                    546080           478998
              Uruguay                    3352651          3292224
              Venezuela                 28715022         24427729

                                 1990 Population  1980 Population  \
Continent     Country/Territory
Africa        Algeria                   25518074         18739378
              Angola                    11828638          8330047
              Benin                      5133419          3833939
              Botswana                   1341474           938578
              Burkina Faso               9131361          6932967
...                                          ...              ...
South America Paraguay                   4059195          3078912
              Peru                      22109099         17492406
              Suriname                    412756           375112
              Uruguay                    3117012          2953750
              Venezuela                 19750579         15210443

                                 1970 Population  Area (km²)  \
Continent     Country/Territory
Africa        Algeria                   13795915     2381741
              Angola                     6029700     1246700
              Benin                      3023443      112622
              Botswana                    592244      582000
              Burkina Faso               5611666      272967
...                                          ...         ...
South America Paraguay                   2408787      406752
              Peru                      13562371     1285216
              Suriname                    379918      163820
              Uruguay                    2790265      181034
              Venezuela                 11355475      916445

                                 Density (per km²)  Growth Rate  \
Continent     Country/Territory
Africa        Algeria                      18.8531       1.0164
              Angola                       28.5466       1.0315
              Benin                       118.5635       1.0274
              Botswana                      4.5194       1.0162
              Burkina Faso                 83.0641       1.0259
...                                            ...          ...
South America Paraguay                     16.6705       1.0115
              Peru                         26.4933       1.0099
              Suriname                      3.7727       1.0082
              Uruguay                      18.9069       0.9990
              Venezuela                    30.8820       1.0036

                                 World Population Percentage
Continent     Country/Territory
Africa        Algeria                                   0.56
              Angola                                    0.45
              Benin                                     0.17
              Botswana                                  0.03
              Burkina Faso                              0.28
...                                                      ...
South America Paraguay                                  0.09
              Peru                                      0.43
              Suriname                                  0.01
              Uruguay                                   0.04
              Venezuela                                 0.35

[234 rows x 15 columns]